{% extends 'base.html.twig' %}

{% block body %}

    <div class="order-tour">
        <div class="row">
            <div class="col-md-7">
                <br>
                <div class="mini-slider" data-tesla-plugin="slider" data-tesla-item=".slide"
                     data-tesla-next=".slide-right" data-tesla-prev=".slide-left" data-tesla-container=".slide-wrapper">
                    <ul class="slide-arrows">
                        <li class="slide-left"><i class="fa d-bg-c-h fa-caret-left"></i></li>
                        <li class="slide-right"><i class="fa d-bg-c-h fa-caret-right"></i></li>
                    </ul>
                    <ul class="slide-wrapper">
                        <li class="slide">
                            <img src="{{ asset('images/photos/tour-1.jpg') }}" alt="slider image"/>
                        </li>
                        <li class="slide">
                            <img src="{{ asset('images/photos/tour-2.jpg') }}" alt="slider image"/>
                        </li>
                        <li class="slide">
                            <img src="{{ asset('images/photos/tour-3.jpg') }}" alt="slider image"/>
                        </li>
                    </ul>
                    <ul class="slider-dots" data-tesla-plugin="bullets">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">

                {% include('@BsApp/form_searche.html.twig') %}

            </div>
        </div>
    </div>
{% endblock %}

