# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: 3306
    database_name: buss
    database_user: root
    database_password: null
    mailer_transport: gmail
    mailer_host: 127.0.0.1
    mailer_user: lab6si.bro@gmail.com
    mailer_password: 56325632
    secret: ThisTokenIsNotSoSecretChangeIt
    mailer_params:
              from_email: lab6si.bro@gmail.com
              from_name: User Stories