{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="row well">

<h1>The payment was successful !</h1>
<h1>The ticket was sent to your email </h1>

        </div>
    </div>


{% endblock %}